<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <p><%= f.label :status, 'ステータス' %></p>
    <p><%= f.text_field :status %></p>
  
    <p><%= f.label :content, 'タスク' %></p>
    <p><%= f.text_field :content %></p>

    <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
